@import "tailwindcss";
@layer base {
  img {
    display: initial;
  }
}

body {
  background: #fafafa;
}

.btn-press {
  animation: press 0.6s ease-in-out;
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
